@page
@model SupermarketWEB.Pages.Providers.IndexModel
@{
    ViewData["Title"] = "Providers";
}

<h1>Providers</h1>

<p>
    <a asp-page="./Create" class="btn btn-success">Create new provider</a>
</p>

<table class="table">
    <thead>
        <tr>
            
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var provider in Model.Providers)
        {
            <tr>
                
                <td>@provider.Name</td>
                <td>@provider.Phone</td>
                <td>@provider.Email</td>
                <td>

                    <a asp-page="./Edit" asp-route-id="@provider.Id" class="btn btn-warning">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@provider.Id" class="btn btn-danger">Delete</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
